.challengeBoxContainer {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--black);
    box-shadow: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 1.5rem 2rem;
}

.challengeNotActive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.challengeNotActive strong {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4;

}

.challengeNotActive p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.challengeNotActive p img {
    height: 5rem;
    width: auto;
    margin-bottom: 1rem;
}

.challengeActive {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.challengeActive header {
    padding: 0 2rem 1.5rem;
    font-size: 1.25rem;
    color: #0E99FC;
    border-bottom: 1px solid var(--gray-line);
}

.challengeActive main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.challengeActive main img {
    height: 10rem;
    width: auto;
}

.challengeActive main strong {
    font-size: xx-large;
    padding-top: 1rem;
} 

.challengeActive main p {
    font-size: 1rem;
    padding-top: 1rem;
}

.challengeActive footer {    
    width: 15rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.challengeActive footer button {
    color: rgb(236, 230, 230);
    padding: 1rem;
    border: 0px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.challengeActive footer button:first-child {
    background-color:  rgb(0, 131, 0);
}

.challengeActive footer button:last-child {
    background-color: rgb(185, 6, 42);
    width: 109px;
}

.challengeActive footer button:first-child:hover {
    background-color: rgb(0, 104, 0);
}

.challengeActive footer button:last-child:hover {
    background-color: rgb(136, 1, 28);
}