.challengeBoxContainer {

    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var(--white);
    box-shadow: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    
    padding: 1.5rem 2rem;
}

.challengeNotActive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.challengeNotActive strong {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4;

}

.challengeNotActive p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 2rem;
}

.challengeNotActive p img {
    height: 10rem;
    width: auto;
    margin-bottom: 1rem;
}